In [7]:
import pyodbc
import time

import pandas as pd
import sqlalchemy as sa

from datetime import datetime

from IPython.display import display, HTML

In [8]:
mdb_path = "./example.mdb"
driver = '{Microsoft Access Driver (*.mdb, *.accdb)}'
conn_str = f"DRIVER={driver};DBQ={mdb_path};"

cnxn = pyodbc.connect(conn_str)
cursor = cnxn.cursor()

cursor.execute("DROP TABLE DATA_TABLE")
cursor.close()
cnxn.close()

In [9]:
connection_string = ( 
    r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};"
    r"DBQ=./example.mdb;"
    r"ExtendedAnsiSQL=1;" )

connection_url = sa.engine.URL.create(
    "access+pyodbc",
    query={"odbc_connect": connection_string}
)

engine = sa.create_engine(connection_url)

In [10]:
data_list_01 = [f"DATA0{i}" for i in range(1, 11)]
data_list_02 = [f"DATA{i}" for i in range(11, 21)]
data_list = data_list_01 + data_list_02

- Create DataFrame
- Append DataFrame to MDB file

In [11]:
# TEST
# date_data = datetime.today().strftime('%Y-%m-%d')
# time_data = datetime.today().strftime('%H:%M:%S')
# data_data = [i for i in range(1, 101)]

# df = pd.DataFrame([data_data], columns=data_list)
# df.insert(0, "DATE", date_data)
# df.insert(1, "TIME", time_data)

# df.to_sql("DATA_TABLE", engine, index=False, if_exists="append")

# df

In [12]:
for k in range(1, 4):
    date_data = datetime.today().strftime('%Y-%m-%d')
    time_data = datetime.today().strftime('%H:%M:%S')
    data_data = [1 for i in range(1, 21)]

    df = pd.DataFrame([data_data], columns=data_list)
    df.insert(0, "DATE", date_data)
    df.insert(1, "TIME", time_data)

    df.to_sql("DATA_TABLE", engine, index=False, if_exists="append")

    display(HTML(df.to_html()))

    time.sleep(10)