In [1]:
import pandas as pd
import random

from typing import List

random.seed(42)

In [2]:
list_sample: List = [[random.random(), random.random(), random.random(), random.random()] for _ in range(10)]
df_sample: pd.DataFrame = pd.DataFrame(list_sample, columns=['data01', 'data02', 'data03', 'data04'])
df_sample

     data01    data02    data03    data04
0  0.639427  0.025011  0.275029  0.223211
1  0.736471  0.676699  0.892180  0.086939
2  0.421922  0.029797  0.218638  0.505355
3  0.026536  0.198838  0.649884  0.544941
4  0.220441  0.589266  0.809430  0.006499
5  0.805819  0.698139  0.340251  0.155479
6  0.957213  0.336595  0.092746  0.096716
7  0.847494  0.603726  0.807128  0.729732
8  0.536228  0.973116  0.378534  0.552041
9  0.829405  0.618520  0.861707  0.577352

In [3]:
df_sample.columns

Index(['data01', 'data02', 'data03', 'data04'], dtype='object')

In [4]:
df_sample.columns = ['sample01', 'sample02', 'sample03', 'sample04']

In [5]:
df_sample

   sample01  sample02  sample03  sample04
0  0.639427  0.025011  0.275029  0.223211
1  0.736471  0.676699  0.892180  0.086939
2  0.421922  0.029797  0.218638  0.505355
3  0.026536  0.198838  0.649884  0.544941
4  0.220441  0.589266  0.809430  0.006499
5  0.805819  0.698139  0.340251  0.155479
6  0.957213  0.336595  0.092746  0.096716
7  0.847494  0.603726  0.807128  0.729732
8  0.536228  0.973116  0.378534  0.552041
9  0.829405  0.618520  0.861707  0.577352